# Exclude everything that git ignores
#!include:.gitignore

# But explicitly include the Firebase credentials
!src/lib/Firebase/

# Other standard exclusions
.git
.gitignore
node_modules
npm-debug.log